
_build/

\.vscode/

*.user

build/
.vs/
CMakeSettings.json
install/
dot-lib/HdacSdkTest/HdacSdkTest/bin/Debug/keys_wrapper.dll
dotnet-lib/HdacSdk/HdacSdk/bin/Debug/
dotnet-lib/HdacSdk/HdacSdk/obj/
dotnet-lib/HdacSdkTest/HdacSdkTest/bin/Debug/keys_wrapper.dll
dotnet-lib/HdacSdkTest/HdacSdkTest/bin/Debug/debug.log
dotnet-lib/HdacSdkTest/HdacSdkTest/bin/Debug/HdacSdkTest.pdb
dotnet-lib/HdacSdkTest/HdacSdkTest/bin/Debug/HdacSdkTest.exe.config
dotnet-lib/HdacSdkTest/HdacSdkTest/bin/Debug/HdacSdkTest.exe
dotnet-lib/HdacSdkTest/HdacSdkTest/bin/Debug/HdacSdk.pdb
dotnet-lib/HdacSdkTest/HdacSdkTest/bin/Debug/HdacSdk.dll
dotnet-lib/HdacSdkTest/HdacSdkTest/bin/Release/HdacSdkTest.pdb
dotnet-lib/HdacSdkTest/HdacSdkTest/bin/Release/HdacSdkTest.exe.config
dotnet-lib/HdacSdkTest/HdacSdkTest/bin/Release/HdacSdk.dll
dotnet-lib/HdacSdkTest/HdacSdkTest/bin/Release/debug.log
dotnet-lib/HdacSdkTest/HdacSdkTest/bin/Release/HdacSdkTest.exe
dotnet-lib/HdacSdkTest/HdacSdkTest/bin/Release/HdacSdk.pdb
dotnet-lib/HdacSdkTest/HdacSdkTest/bin/Release/keys_wrapper.dll
dotnet-lib/HdacSdkTest/HdacSdkTest/obj/
dotnet-lib/HdacSdkTest/HdacSdkTest/bin/
